@import "tailwindcss";

* {
  scrollbar-gutter: stable;
  margin: 0;
  padding: 0;
}

:root {
  position: absolute;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.5;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  padding: 1rem;
}

#root {
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #eee;
    --link-color-a: #88e;
    --link-color-b: #e90;
    --background-color: #202024;
    --accent-color-a: #303036;
    /* --accent-color-b: #303036; */
    background-color: var(--background-color);
    color: var(--text-color);
  }
}

a {
  transition: all 200ms;
  color: var(--link-color-a);
}

a:hover {
  color: hsl(from var(--link-color-a) h calc(s + 16) calc(l + 16));
}

a:active {
  font-weight: 200;
}

a.active {
  font-weight: 600;
}


ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  column-gap: 0.2rem;
  justify-content: stretch;
}

li {
  animation: bounceUp var(--spring-duration) var(--spring-easing) 1 normal both;
  text-align: center;
  background-color: var(--accent-color-a);
  border-radius: 0.4rem 0.4rem 0 0;
  box-shadow: inset var(--background-color) 0 -1rem 1rem -1rem;
  height: 2rem;
  overflow: hidden;
  white-space: nowrap;
}

li:has(> a.active) {
  box-shadow: none;
}

footer {
  position: relative;
  bottom: 0rem;
  display: flex;
  justify-content: space-around;
}

main {
  background-color: var(--accent-color-a);
  padding: 2rem;
  border-radius: 0.2rem;
}